* {
  font-family: sans-serif;
}
.carousel-img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.card-img-top {
  height: 300px !important;
  object-fit: cover;
  border-radius: 50%;
}

.card-testimony {
  height: 300px;
}

.card-category {
  width: 300px;
}
.img-category {
  height: 300px;
}
